.input-group {
    width: 100%;
    max-width: 500px;
    padding: 0 1rem; 
    margin: 0 auto;
}

.title h1 {
    font-size: 40px;
}

.input-section, .input-group {
    flex-direction: column;
}

.input, textarea {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--light-grey-color);
    border-radius: 35px;
    line-height: 66px;
    min-height: 66px;
    font-size: 15px;
    padding: 0 3rem;
    margin-bottom: 2.6rem;
}


.submit-btn {
    width: 100%;
    max-width: 200px;
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--light-grey-color);
}